<nav class="d-lg-none bg-gray-900 py-16 px-12 text-white">
  <a class="navbar-brand d-flex p-0 me-auto me-lg-0 mb-12" href="#">
    <img src="../assets/images/logo-lg.png" alt="logo-lg" class="me-4" />
    <div>
      <div class="fs-5 fw-bold mb">職人匠心</div>
      <div class="d-flex fs-8 align-items-center">
        <div>在地手做</div>
        <div class="divider-logo mx-4"></div>
        <div>生活溫度</div>
      </div>
    </div>
  </a>

  <div class="d-flex gap-8 mb-12">
    <a href="#" class="icon"><i class="bi bi-instagram"></i></a>
    <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
    <a href="#" class="icon"><i class="bi bi-line"></i></a>
  </div>
  <div class="fs-8 ls-0 d-flex flex-column gap-8 border-bottom border-gray-600 pb-12 mb-12">
    <a href="#">產品分類</a>
    <a href="#">關於職人匠心</a>
    <a href="#">專欄文章</a>
  </div>
  <div class="fs-8 ls-0 d-flex d-lg-none flex-column gap-4 mb-12">
    <div>台北市中正區重慶南路一段 122 號</div>
    <div>職人匠心股份有限公司</div>
    <div>統一編號：77776666</div>
  </div>
  <div class="fs-9 ls-0">版權所有 © Copyright 2024 職人匠心. All Rights Reserved</div>
</nav>

<nav class="d-none d-lg-block bg-gray-900 py-16 text-white">
  <div class="container">
    <div class="d-flex border-bottom border-gray-600 pb-16 mb-16">
      <div class="me-auto">
        <a class="navbar-brand d-flex p-0 me-auto me-lg-0 mb-12" href="#">
          <img src="../assets/images/logo-lg.png" alt="logo-lg" class="me-4" />
          <div>
            <div class="fs-5 fw-bold mb">職人匠心</div>
            <div class="d-flex fs-8 align-items-center">
              <div>在地手做</div>
              <div class="divider-logo mx-4"></div>
              <div>生活溫度</div>
            </div>
          </div>
        </a>
        <div class="fs-8 ls-0 d-flex flex-column gap-8">
          <div>台北市中正區重慶南路一段 122 號</div>
          <div>職人匠心股份有限公司</div>
          <div>統一編號：77776666</div>
        </div>
      </div>

      <div class="d-flex">
        <div class="me-25" style="width: 196px">
          <div class="fs-7 ls-0 pb-8 mb-12 border-bottom border-gray-600">了解更多</div>
          <div class="fs-8 ls-0 d-flex flex-column gap-8">
            <a href="#">產品分類</a>
            <a href="#">關於職人匠心</a>
            <a href="#">專欄文章</a>
          </div>
        </div>

        <div>
          <div class="fs-7 ls-0 pb-8 mb-12 border-bottom border-gray-600">追蹤我們</div>
          <div class="d-flex gap-8 mb-12">
            <a href="#" class="icon"><i class="bi bi-instagram"></i></a>
            <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
            <a href="#" class="icon"><i class="bi bi-line"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="fs-8 ls-0 text-center">版權所有 © Copyright 2024 職人匠心. All Rights Reserved</div>
  </div>
</nav>
