.divider {
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: $gray-700;
  @include desktops {
    height: 16px;
  }
}
.icon {
  width: 48px;
  height: 48px;
  // color: $gray-900;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.badge-dot {
  top: 8px;
  right: 1px;
  width: 8px;
  height: 8px;
  padding: 0;
}
.navbar .bi {
  font-size: 24px;
}
// .full-height {
//   position: fixed;
//   top: 64px; /* 從 navbar 底下開始 */
//   left: 0;
//   width: 100%;
//   height: calc(100vh - 64px); /* 扣掉 navbar 高度 */
//   background: white;
//   // overflow-y: auto;
//   z-index: 1040; /* 比 navbar 低一層，避免蓋住 */
// }
.offcanvas.offcanvas-top {
  top: 104px; /* navbar 高度 */
  height: calc(100% - 104px);
}

// .offcanvas.from-navbar.show {
//   transform: translateY(0);
// }
// .offcanvas-backdrop {
//   display: none !important;
// }
