.divider-logo {
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: $gray-700;
  @include desktops {
    height: 16px;
  }
}
.badge-dot {
  top: 8px;
  right: 1px;
  width: 8px;
  height: 8px;
  padding: 0;
}
.offcanvas.offcanvas-top {
  top: 104px; /* navbar 高度 */
  height: calc(100% - 104px);
}
.hearder-lg-search-weight {
  width: 240px;
}
.divider-navbar {
  display: inline-block;
  width: 1px;
  height: 32px;
  background-color: $gray-500;
}
