<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
    <title>index</title>
  </head>
  <body>
    <div class="marquee-index-sale d-flex d-lg-none align-items-center fs-7 ls-0 bg-gray-900 text-white py-4">
      <div class="sale-text d-flex align-items-center">
        <div>週年慶</div>
        <div class="divider-ad mx-8"></div>
        <div>滿千送百，精美小禮加碼送</div>
      </div>
    </div>
    <%- include('./layout/header'); -%>
    <div class="marquee-index-sale d-lg-flex d-none align-items-center fs-7 ls-0 bg-gray-900 text-white py-4">
      <div class="sale-text d-flex align-items-center">
        <div>週年慶</div>
        <div class="divider-ad mx-4"></div>
        <div>滿千送百，精美小禮加碼送</div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="position-relative">
          <div class="header-text position-absolute z-2 pt-60 pt-lg-48 w-100">
            <div class="text-gray-900 w-100 d-lg-inline-block">
              <h1 class="fs-4 display-lg-2 mb-8">感受雙手的溫度</h1>
              <h2 class="fs-4 display-lg-2 pb-8 border-bottom border-2 border-gray-900 mb-8 d-lg-inline-block">
                擁抱每一件獨特物品
              </h2>
            </div>
            <a href="#" class="anchor-btn">立即選購<i class="bi bi-arrow-up-right-circle icon ms-12"></i> </a>
          </div>
        </div>
      </div>
      <!-- Slider main container -->
      <div class="swiper swiper-1">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide slide-1"></div>
          <div class="swiper-slide slide-2"></div>
          <div class="swiper-slide slide-3"></div>
          <div class="swiper-slide slide-4"></div>
          <div class="swiper-slide slide-5"></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
      </div>
    </header>
    <section class="lifestyle-collect py-16">
      <div class="container">
        <div class="d-flex justify-content-center justify-content-xl-between mb-12 mb-lg-20">
          <h3 class="section-title">手作生活嚴選季</h3>
          <a href="#" class="anchor-btn d-none d-xl-flex">選購去<i class="bi bi-arrow-up-right-circle icon"></i> </a>
        </div>
      </div>
      <div class="overflow-x-auto">
        <div class="container d-flex gap-12 mb-12">
          <div class="card card-item">
            <img src="../assets/images/item-cup.png" class="card-img-top" alt="item-cup" />
            <div class="card-body">
              <div class="card-text">
                <div class="d-flex justify-content-between align-items-center">
                  手工陶杯組<i class="bi bi-arrow-up-right-circle icon d-none d-xl-block"></i>
                </div>
                <div class="d-flex align-items-center pb-lg-8"><span>NT$</span>3,600</div>
              </div>
            </div>
            <div class="item-tag">手作生活</div>
            <div class="favorite"><i class="bi bi-heart icon"></i></div>
          </div>
          <div class="card card-item">
            <img src="../assets/images/item-bowl.png" class="card-img-top" alt="item-bowl" />
            <div class="card-body">
              <div class="card-text">
                <div class="d-flex justify-content-between align-items-center">
                  柴燒碗盤組<i class="bi bi-arrow-up-right-circle icon d-none d-xl-block"></i>
                </div>
                <div class="d-flex align-items-center pb-lg-8"><span>NT$</span>6,666</div>
              </div>
            </div>
            <div class="item-tag">手作生活</div>
            <div class="favorite"><i class="bi bi-heart icon"></i></div>
          </div>
          <div class="card card-item">
            <img src="../assets/images/item-chair.png" class="card-img-top" alt="item-chair" />
            <div class="card-body">
              <div class="card-text">
                <div class="d-flex justify-content-between align-items-center">
                  原木手工椅<i class="bi bi-arrow-up-right-circle icon d-none d-xl-block"></i>
                </div>
                <div class="d-flex align-items-center pb-lg-8"><span>NT$</span>8,888</div>
              </div>
            </div>
            <div class="item-tag">手作生活</div>
            <div class="favorite"><i class="bi bi-heart icon"></i></div>
          </div>
          <div class="card card-item">
            <img src="../assets/images/item-scarf.png" class="card-img-top" alt="item-scarf" />
            <div class="card-body">
              <div class="card-text">
                <div class="d-flex justify-content-between align-items-center">
                  植物染絲巾<i class="bi bi-arrow-up-right-circle icon d-none d-xl-block"></i>
                </div>
                <div class="d-flex align-items-center pb-lg-8"><span>NT$</span>1,999</div>
              </div>
            </div>
            <div class="item-tag">手作生活</div>
            <div class="favorite"><i class="bi bi-heart icon"></i></div>
          </div>
        </div>
      </div>
      <div class="container">
        <a href="#" class="anchor-btn ms-auto d-xl-none">選購去<i class="bi bi-arrow-up-right-circle icon"></i> </a>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script>
      const swiper1 = new Swiper(".swiper-1", {
        // Optional parameters
        direction: "horizontal",
        loop: true,
        slidesPerView: "auto",
        autoplay: {
          delay: 3000,
        },
        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
        },

        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },

        // And if we need scrollbar
        scrollbar: {
          el: ".swiper-scrollbar",
        },
      });
    </script>
  </body>
</html>
